ClientSoapOperation/src/main/java/mypackage/CalculeService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.0 git-revision#129f787. --><!-- Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.0 git-revision#129f787. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservice/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservice/" name="calculeServiceService">
<types>
<xsd:schema>
<xsd:import namespace="http://webservice/" schemaLocation="http://localhost:8084/?xsd=1"/>
</xsd:schema>
</types>
<message name="multiplicationTwoNumber">
<part name="parameters" element="tns:multiplicationTwoNumber"/>
</message>
<message name="multiplicationTwoNumberResponse">
<part name="parameters" element="tns:multiplicationTwoNumberResponse"/>
</message>
<message name="divisionTwoNumber">
<part name="parameters" element="tns:divisionTwoNumber"/>
</message>
<message name="divisionTwoNumberResponse">
<part name="parameters" element="tns:divisionTwoNumberResponse"/>
</message>
<message name="soustractionTwoNumber">
<part name="parameters" element="tns:soustractionTwoNumber"/>
</message>
<message name="soustractionTwoNumberResponse">
<part name="parameters" element="tns:soustractionTwoNumberResponse"/>
</message>
<message name="sommeTwoNumber">
<part name="parameters" element="tns:sommeTwoNumber"/>
</message>
<message name="sommeTwoNumberResponse">
<part name="parameters" element="tns:sommeTwoNumberResponse"/>
</message>
<portType name="calculeService">
<operation name="multiplicationTwoNumber">
<input wsam:Action="http://webservice/calculeService/multiplicationTwoNumberRequest" message="tns:multiplicationTwoNumber"/>
<output wsam:Action="http://webservice/calculeService/multiplicationTwoNumberResponse" message="tns:multiplicationTwoNumberResponse"/>
</operation>
<operation name="divisionTwoNumber">
<input wsam:Action="http://webservice/calculeService/divisionTwoNumberRequest" message="tns:divisionTwoNumber"/>
<output wsam:Action="http://webservice/calculeService/divisionTwoNumberResponse" message="tns:divisionTwoNumberResponse"/>
</operation>
<operation name="soustractionTwoNumber">
<input wsam:Action="http://webservice/calculeService/soustractionTwoNumberRequest" message="tns:soustractionTwoNumber"/>
<output wsam:Action="http://webservice/calculeService/soustractionTwoNumberResponse" message="tns:soustractionTwoNumberResponse"/>
</operation>
<operation name="sommeTwoNumber">
<input wsam:Action="http://webservice/calculeService/sommeTwoNumberRequest" message="tns:sommeTwoNumber"/>
<output wsam:Action="http://webservice/calculeService/sommeTwoNumberResponse" message="tns:sommeTwoNumberResponse"/>
</operation>
</portType>
<binding name="calculeServicePortBinding" type="tns:calculeService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="multiplicationTwoNumber">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="divisionTwoNumber">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="soustractionTwoNumber">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="sommeTwoNumber">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="calculeServiceService">
<port name="calculeServicePort" binding="tns:calculeServicePortBinding">
<soap:address location="http://localhost:8084/"/>
</port>
</service>
</definitions>